{% extends "base.html" %}

{% block content %}

<div class="col-xs-12 col-sm-9">
    <ol class="breadcrumb">
        <li><a href="http://127.0.0.1:8000/">Whisper</a></li>
        <li class="active">{{ post.date_time|date:'Y /m /d'}}</li>
        <li class="active">{{ post.title }}</li>
    </ol>
	
	<div class=''>
	    <a class="btn btn-default" > 票价：{{ post.tick }}</a>
        <a class="btn btn-default" > 地点：{{ post.country }}.{{ post.city }}.{{ post.address }}</a>
		<a class="btn btn-default" > 开放时间：{{ post.open_time }}</a>
        <a class="btn btn-default" > 类别：{{ post.category }}</a>

        <a class="btn btn-default" > 发布者：{{ post.pubuser }}</a>
    </div>
	
    <div class="page-content">
        <p>
            <img src="http://127.0.0.1:8000/{{ post.headImg }}" alt="{{ post.headImg }}"/>

        </p>

        <p> {{ post.content }}</p>
    </div>
    <!--/.page-content-->




    {% endblock %}
